* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    
}

.container {
    max-width: 300px;
    max-height: 350px;
    margin-bottom: 10rem;
    width: 100%;
    height: 100%;
    background-color: hsl(240, 0%, 5%);
    border-radius: 12px;
    color: hsl(240, 0%, 90%);
}
section {
    padding: 2.5rem;    
}

.display {
    border: 1px solid hsl(240, 0%, 20%);
    border-radius: 12px;
    background-color: hsl(240, 0%, 90%);
    margin: 20px;
    color: hsl(240, 0%, 20%);
    font-size: 20px;
    font-weight: bold;

}
.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: hsl(240, 0%, 20%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

button {
    padding: 12px;
    margin: 5px 5px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    vertical-align: middle;
    background-color: hsl(240, 0%, 20%);
    color: hsl(240, 0%, 90%);
}
#equals {
    background-color: hsl(240, 70%, 50%);
    border-radius: 12px;
}
button:hover {
    background-color: hsl(240, 20%, 20%);
}