* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.container {
  background-color: hsl(245, 58%, 4%);
  color: white;
  padding: 2rem;
  display: grid;
  row-gap: calc(2rem);
  border-radius: 12px;
  max-width: 320px;
  width: 100%;
  text-align: center;
}

.counter-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;

}


button {
  padding: 0.75rem 1.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: hsl(245, 77%, 60%);
  color: hsl(245, 77%, 95%)
}

#count {
  font-size: 2rem;
  min-width: 40px;
}

.reset-btn {
  width: 100%;
}