* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(205, 85%, 80%);
    font-family: 'Courier New', Courier, monospace;

}
.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 500px;
    background-color: hsl(315, 88%, 27%);
    color: hsl(205, 0%, 90%);
    padding: 2rem;
    border: none;
    border-radius: 85px 5px 5px 5px;

}

img {
    width: 75px;
    height: 97px;
    border-radius: 50%;
    margin: 20px auto;
}

label {
    text-align: start;
}
input {
    border-bottom: 1px solid hsl(0,5%, 90%);
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    
}

input[type="checkbox"] {
    width: unset;
    display: inline-block;
    vertical-align: text-top;
    cursor: pointer;

}
.reminder-password, a{
    font-size: 0.8rem;
    color: hsl(205, 0%, 90%);
    text-decoration: none;
    justify-content: space-between;
}
a{
    font-style: italic;
}   
a:hover{
    text-decoration: underline;
    
}   

button {
    background-color: hsl(315, 94%, 12%);
    border: none;
    border-radius: 20px;
    padding: 13px;
    color: hsl(205, 0%, 90%);
    transition: all 0.3s;
}
button:hover{
    opacity: 0.7;
}