* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

body {
    background-color: hsl(0,0%,90%);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {  
    width: 440px;
    background-color: hsl(0, 80%, 85%);
    padding: 20px;
    color: hwb(0 0% 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px hsla(0, 0%, 40%, 0.3);
    margin: 12px; /* for mobile view */
}

.input-container {
    border-radius: 8px;
    padding: 4px 12px;
    border: 2px solid hsl(0, 0%, 0%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px; 
    letter-spacing: 4px;
}
.fa-copy {
    font-size: 28px;
    cursor: pointer;
    opacity: 0.3;
    transform: rotate(-30deg);
}
.fa-copy:hover{
    opacity: 0.7;
}
button {
    margin-top: 12px;
    padding: 8px;
    font-weight: 700;
    border-radius: 4px;
    color: hsl(0,0%,90%);
    background-color: hsl(0, 0%, 0%);
    border: none;
    outline: 2px solid hsl(0, 0%, 0%);
    cursor: pointer;

}

button:hover {
    background-color: hsl(120,60%,40%);
    color: hsl(0,0%,90%);
    
}

button:active {
    background-color: hsl(100, 80%, 40%);
    transform:scale(0.95) ;

}

.alert-container {
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.3);
    color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
}

.active.alert-container {
    right: -300px;
}