* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
    --support-bg: hsl(230, 70%, 46%);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-dark);
    color: var(--text);
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: var(--bg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 25px;
}
.image  {
    position: relative;
    height: 150px;
    width: 150px;
    /* background-color: blue; */
    border-radius: 50%;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid var(--support-bg);
    border-radius: 50%;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-muted);
}

.text-data .name {
    font-size: 22px;
    font-weight: 500;
}
.text-data .job {
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.media-buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-light);
    font-size: 18px;
    width: 34px;
    height: 34px;
    background-color: var(--bg);
    border-radius: 50%;
    margin: 0 8px;
    text-decoration: none;

}