* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: grid;
    place-content: center;
    vertical-align: middle;
    min-height: 100vh;
}
h1 {
    text-align: center;
    font-size: 2rem;    
}

.underline {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    font-size: 32px;
    border: 3px solid blueviolet ;
    margin-bottom: 50px;
}

.container {
    max-height: 650px;
    max-width: 850px;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 0 5px 4px rgba(103, 103, 95, 0.2);
    border-radius: 8px;
}

img {  
    height: 230px;
    width: 220px;  
}
#name, #role, #comment, .nav-btns{
    margin-bottom: 10px;
}
#name {
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: capitalize;
}

#role {
    font-size: 1rem;
    color: lightskyblue;
    text-transform: uppercase;
}

#comment {
    font-size: 1.5rem;
    text-align:justify;
    padding: 10px 20px;
    color: rgb(66, 64, 64);
}

button {
    padding: 10px;
    font-size: larger;
    border: 1px solid lightblue;
    border-radius: 10px;
    color: lightskyblue;
    background-color: white;
    
}

.nav-btns {
    font-size: 2rem;
    font-weight: bold;
}