* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: grid;
    place-content: center;
    vertical-align: middle;
    min-height: 100vh;
}
h1 {
    text-align: center;
    font-size: 2rem;    
}

.underline {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    font-size: 32px;
    border: 3px solid blueviolet ;
}

.container {
    max-height: 550px;
    max-width: 650px;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 0 5px 4px rgba(103, 103, 95, 0.2);
    border-radius: 8px;
}

img {
   height: 8rem;
   width: 8.2rem;
}
#name, #role, #comment {
    margin-bottom: 5px;

}
#name {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    
}

#role {
    font-size: 1rem;
    color: lightskyblue;

}

#comment {
    font-size: 1rem;
    line-height: 1.5rem;
    justify-content: justify;
    color: rgb(66, 64, 64);
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: lightskyblue;
    background-color: whitesmoke;
    
}