*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary: hsl(170, 80%, 42%);
    --bg: hsl(170, 80%, 83%) ;
    --white: #fff;
    --dark-gray: #666;
}


body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    background-color: var(--bg);
}

.services {
    max-width: 1200px;
    width: 100%;
    margin: 4rem auto;
    padding: 0 2rem;
}

.services-intro {
    text-align: center;
    margin-bottom: 2rem;
}

.services-intro h1 {
    font-size: clamp(2.5rem, 10vw, 4rem);
    color: var(--primary);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 10px 20px hsla(170, 80%, 0%, 0.2);

}

.card-image img{
    object-fit: cover;
    aspect-ratio: 16 / 9;
    width: 100%;

}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
}

.card-content p {
    color: var(--dark-gray)
}
.btn {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    background-color: var(--primary);
    border-radius: 999px;
    padding: 0.8rem;
    width: 100%;
    text-align: center;
    margin-top:  auto;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: var(--bg);
    color : var(--primary)
}